<extend name="Base:layout"/>

<block name="js">
    <script src="__PUBLIC__/js/home/adminuser/index.js" type="text/javascript"></script>
</block>
<block name="css">
</block>
<block name="content">
    <div class="title-span">
        <div>系统配置>账号管理</div>
    </div>
    <div class="table-list">
        <div class="main-content ">
            <div class="web_user_table">
                <div class="button" id="button">

                    <button id="add" type="button" class="common-button add-button">新增</button>
                    <button id="forbidden" type="button" class="common-button forbidden-button ">禁用</button>
                    <button id="enable" type="button" class="common-button pass-button ">启用</button>
                    <button id="delete" type="button" class="common-button del-button ">删除</button>

                </div>
                <table id="mytab" data-toggle="table">
                </table>
            </div>
        </div>
    </div>
</block>
