<extend name="Base:layout_frame"/>

<block name="content">

    <div class="">
        <div class="col-md-2" style="padding-top: 15px">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <form id="formId" method="post" name='formId' action='{:U("AdminUser/modifyPassword")}'>
                        <input type="hidden" name="modify" value="1"/>
                        <div class="form-group">
                            <label>用户名</label>
                            <input type="text" name="username" value="<?=$vo['username']?>" readonly="true" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>原密码</label>
                            <input type="password" id="password" name="password" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" id="newPassword" name="newPassword" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>确认密码</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" value="" class="form-control">
                        </div>

                    </form>
                </div>


            </div>
            <br>
            <button class="ok-btn center-block" onclick="checkPassword()"></button>
        </div>
    </div>

    <script>
        function checkPassword(){
           if($('#password').val()==''){
               layer.msg('请输入原密码',{time:1000});
               return
           }
            if($('#password').val()==$('#newPassword').val()){
                layer.msg('原密码和新密码相同',{time:1000});
                return
            }
            if($('#newPassword').val()==''){
                layer.msg('请输入新密码',{time:1000});
                return
            }
            if($('#confirmPassword').val()==''){
                layer.msg('请输入确认密码',{time:1000});
                return
            }
            if($('#newPassword').val()!=$('#confirmPassword').val()){
                layer.msg('两次密码不一致',{time:1000});
                return
            }
            var fromId='formId'
            var url=document.getElementById(fromId).action
            $.ajax({
                type: "post",
                url:url,
                cache:false,
                async:false,
                data:$('#'+fromId).serialize(),
                success: function(data){
                    var res=eval('('+data+')') ;
                    layer.msg(res.msg);
                    if(res.status==1) {
                        layer.msg('修改成功,请重新登陆',{time: 1500},function(){
                            parent.window.location.href="{:U(\'Home/Public/loginOut/')}"
                        });

                    }

                }
            });
        }
    </script>
</block>
