<extend name="Base:layout_frame"/>

<block name="content">

    <div class="">
            <div class="col-md-2">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="formId" method="post" name='formId' action='{:U("Home/Extension/addChannel")}'>
                            <div class="form-group">
                                <label>渠道商名称</label>
                                <input type="text" name="name" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>渠道账号</label>
                                <input type="text" name="username" value="" class="form-control" placeholder="一经注册，不能更改">
                            </div>
                            <div class="form-group">
                                <label>渠道密码</label>
                                <input type="password" name="password" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>手机号码</label>
                                <input type="text" name="tell" value="" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>状态</label>
                                <span class="form-control">
                                <label style="width: 100px"><input type="radio" name="status" value="1" checked/>正常</label>
                                <label><input type="radio" name="status" value="0"/>禁用</label>
                                </span>
                            </div>

                        </form>
                    </div>


                </div>

                <button class="ok-btn center-block" onclick="fromSubmit('formId','channelTab')"></button>
        </div>
    </div>
</block>
