<extend name="Base:layout"/>

<block name="js">
    <script src="__PUBLIC__/js/home/extension/channel.js" type="text/javascript"></script>

</block>
<block name="content">
        <div class="title-span">
            <div>推广>渠道推广</div>
        </div>
        <div class="table-list">

        <div class="main-content">
            <div class="web_user_table">
                <div class="button" id="button">
                    <button id="add" type="button" class="common-button add-button">新增</button>
                    <button id="forbidden" type="button" class="common-button forbidden-button">禁用</button>
                    <button id="enable" type="button" class="common-button pass-button">启用</button>
                    <button id="export" type="button" class="common-button export-button">导出</button>

                </div>
                <table id="channelTab" data-toggle="table">
                </table>
            </div>
        </div>
        </div>
</block>
