<extend name="Base:layout"/>

<block name="js">
    <script src="__PUBLIC__/js/home/extension/user.js" type="text/javascript"></script>

</block>
<block name="content">
        <div class="title-span">
            <div>推广>用户推广</div>
        </div>
        <div class="table-list">

        <div class="main-content">
            <div class="web_user_table">
                <div class="button" id="button">
                    <!--<button id="export" type="button" class="btn btn-default btn">导出</button>-->

                </div>
                <table id="userTab" data-toggle="table">
                </table>
            </div>
        </div>
        </div>
</block>
