<extend name="Base:layout_frame"/>

<block name="content">

    <div class="frame-first-div">
            <div class="col-md-2">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="formId" method="post" name='formId' action='{:U("Home/Config/edit")}'>
                            <input type="hidden" name="id" value="{$vo.id}"/>
                            <input type="hidden" name="tableName" value="<?=$tableName?>"/>
                            <input type="hidden" name="name" value="1"/>
                            <div class="form-group">
                                <label>消息通知</label>
                                {:W('Config/messageCategorySelect',array($vo['category'],true))}
                            </div>
                            <div class="form-group">
                                <label>消息类型</label>
                                {:W('Config/messageTypeSelect',array($vo['type'],true))}
                            </div>
                            <div class="form-group">
                                <label>是否发送短信</label>
                                <span class="form-control">
                                <label style="width: 100px"><input type="radio" name="is_short_message" value="1"  <?php if($vo['is_short_message']==1){ echo 'checked="true"';} ?> onclick="$('#short_message_span').show()">是</label>
                                <label><input type="radio" name="is_short_message" value="0" <?php if($vo['is_short_message']==0){ echo 'checked="true"';} ?> onclick="$('#short_message_span').hide()"/>否</label>
                                </span>
                            </div>
                            <span id="short_message_span" style="<?php if($vo['is_short_message']==0){ echo 'display: none';}?>">
                            <div class="form-group">
                                <label>短信模板code</label>
                                <input type="text" name="template_code" class="form-control" value="<?=$vo['template_code']?>"/>
                            </div>

                            <div class="form-group">
                                <label>短信参数</label>
                                <input name="short_message_params"  class="form-control" value="<?=$vo['short_message_params']?>"/>
                            </div>
                            </span>
                            <div class="form-group">
                                <label>消息提醒文案</label>
                                 <textarea name="message"  rows="2" class="form-control"><?=$vo['message']?></textarea>
                            </div>


                        </form>
                    </div>


                </div>
                <br>
                <button class="ok-btn center-block" onclick="fromSubmit('formId','<?=$tableName?>Tab')"></button>
        </div>
    </div>
</block>
