.div-pan{
   margin: 0px 1%;padding-top: 10px;width: 98%
}
.tab-div-pan{
    background-color: #ffffff;margin-top:10px;
    margin-top: -10px;
    padding-top: 10px;
}
#toolbar{
    margin-top: 20px;
}