<link href="__PUBLIC__/css/left.css" rel='stylesheet' type='text/css'/>

<div class="right-top-div">
    <span>EM后台管理系统</span>
    <div style="float: right">
        <a href="javascript:void(0)" ><img src="__PUBLIC__/images/common/ic_admin.png" style="vertical-align:bottom;">&nbsp;<?=$user_info['username']?></a>
        <a href="#" onclick='modifyPassword()'><img src="__PUBLIC__/images/common/ic_password.png" style="vertical-align:bottom;">&nbsp;修改密码</a>
        <a href="#" onclick='window.location.href="{:U(\'Home/Public/loginOut/')}"'><img src="__PUBLIC__/images/common/ic_logout.png" style="vertical-align:bottom;">&nbsp;退出</a>
    </div>
</div>


